/* Roboto */

@font-face {
font-family: 'Roboto';
font-weight: 100;
font-style: normal;

src: url(../fonts/roboto/100.woff2) format('woff2'),
url(../fonts/roboto/100.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 100;
font-style: italic;

src: url(../fonts/roboto/100-italic.woff2) format('woff2'),
url(../fonts/roboto/100-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 300;
font-style: normal;

src: url(../fonts/roboto/300.woff2) format('woff2'),
url(../fonts/roboto/300.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 300;
font-style: italic;

src: url(../fonts/roboto/300-italic.woff2) format('woff2'),
url(../fonts/roboto/300-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 400;
font-style: normal;

src: url(../fonts/roboto/400.woff2) format('woff2'),
url(../fonts/roboto/400.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 400;
font-style: italic;

src: url(../fonts/roboto/400-italic.woff2) format('woff2'),
url(../fonts/roboto/400-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 500;
font-style: normal;

src: url(../fonts/roboto/500.woff2) format('woff2'),
url(../fonts/roboto/500.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 500;
font-style: italic;

src: url(../fonts/roboto/500-italic.woff2) format('woff2'),
url(../fonts/roboto/500-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 700;
font-style: normal;

src: url(../fonts/roboto/700.woff2) format('woff2'),
url(../fonts/roboto/700.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 700;
font-style: italic;

src: url(../fonts/roboto/700-italic.woff2) format('woff2'),
url(../fonts/roboto/700-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 900;
font-style: normal;

src: url(../fonts/roboto/900.woff2) format('woff2'),
url(../fonts/roboto/900.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-weight: 900;
font-style: italic;

src: url(../fonts/roboto/900-italic.woff2) format('woff2'),
url(../fonts/roboto/900-italic.woff) format('woff');
}

/* Roboto Condensed */

@font-face {
font-family: 'Roboto Condensed';
font-weight: 300;
font-style: normal;

src: url(../fonts/roboto/condensed/300.woff2) format('woff2'),
url(../fonts/roboto/condensed/300.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-weight: 300;
font-style: italic;

src: url(../fonts/roboto/condensed/300-italic.woff2) format('woff2'),
url(../fonts/roboto/condensed/300-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-weight: 400;
font-style: normal;

src: url(../fonts/roboto/condensed/400.woff2) format('woff2'),
url(../fonts/roboto/condensed/400.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-weight: 400;
font-style: italic;

src: url(../fonts/roboto/condensed/400-italic.woff2) format('woff2'),
url(../fonts/roboto/condensed/400-italic.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-weight: 700;
font-style: normal;

src: url(../fonts/roboto/condensed/700.woff2) format('woff2'),
url(../fonts/roboto/condensed/700.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-weight: 700;
font-style: italic;

src: url(../fonts/roboto/condensed/700-italic.woff2) format('woff2'),
url(../fonts/roboto/condensed/700-italic.woff) format('woff');
}
main.css

:lang(en) {
font-family: 'Roboto', sans-serif;
}

:root {
background: url(../images/bats.webp);
background: -webkit-image-set(url(../images/bats.webp) 1x);
}

body {
font-size: .875rem;

display: flex;

width: 800px;
margin: auto;

border: 1px solid #000;
background: #FFF;
box-shadow: 0 4px 4px #000;

flex-flow: row wrap;
}

header {
border-bottom: 1px solid #000;
background: linear-gradient(45deg, #FFF, #FF9800 75%, #000);

flex: 100%;
}

header img {
float: left;
}

header h1,
header h2,
header img {
margin: 8px;
}

header nav {
clear: both;

text-align: center;

color: #FFF;
background: #000;
}

header nav ul {
position: relative;
}

header nav ul ul {
position: absolute;
top: 100%;

display: none;

width: 160px;

background: #000;

flex-flow: column;
}

header nav ul li:hover ul,
header nav ul ul:hover {
display: flex;
}

header nav a {
color: #FFF;
}

header nav a:hover {
background: #9E9E9E;
}

nav ul {
display: flex;

list-style: none;
}

nav li {
flex: 1;
}

nav a {
font-weight: 500;

display: block;

padding: 8px;

text-decoration: none;
}

body > nav {
box-sizing: border-box;
padding: 16px;

flex: 0 0 160px;
}

body > nav ul {
flex-flow: column;
}

body > nav li {
margin: 4px 0;
}

body > nav a {
background: #FF9800;
border: 2px solid #000;
color: #000;
}

main {
padding: 30px;

flex: 1;
}

main h1::first-letter {
font-size: 2.8125rem;
}

main a {
font-weight: 700;

color: #FF9800;
}

main a:focus,
main a:hover {
color: #4CAF50;
}

footer {
font-size: 0.875rem;

padding: 16px;

text-align: center;

border-top: 1px solid #000;
background: linear-gradient(45deg, #000, #FF9800 25%, #FFF);

flex: 100%;
}

h1,
h2,
h3 {
font-weight: 500;

margin: 0;
}

h1 {
font-size: 2.125rem;
line-height: 2.5rem;
}

h2 {
font-size: 1.5rem;
line-height: 2rem;
}

h3 {
font-size: 1rem;
line-height: 1.5rem;
}

ul {
margin: 0;
padding: 0;
}

li {
margin: 0;
padding: 0;
}

figure {
margin: 1em 0;
}

.current {
color: #FF9800;
}