html {
	background-image: url("../images/bats.gif");	
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	max-width: 960px;
	width: 95%;                        /* fixed width was 800 */
	background-color: white;
	margin: 0 auto 20px; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
.container{
	padding: 0px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header {
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: .9375em 1.875% .9375em 1.875%;  /* 15 / 16; 15 / 800 x 100 */
} 
header img { 
	float: left; 
	padding-right: 1.875%; 
	width: 10.6%;
	max-width: 85px;
	min-width: 40px;
} 
header h2 {
	font-size: 230%;
	font-weight: 700;
}
header h3 {
	font-size: 125%;
	padding-bottom: .75em;
	font-weight: 700;
}

#mbl{
		display: none;
	}
/* Navigation menu */
#nav_menu {
	clear: left;
	margin: 0;
	padding: 0;    
}
#nav_menu .my_nav {
	list-style: none;
    margin: 0;
    display: flex;
    width: 100%;
    padding: 0;
    background-color: black;
}
#nav_menu .my_nav .nav-item .nav-link, .dropdown-item {
	text-align: center;
	display: block;
	padding: .9em 0;
	text-decoration: none;
	
	text-transform: capitalize;
	color: white;
	transition: 0.3s;
}
#nav_menu .my_nav .nav-item .nav-link.current {
	color: orange;
}
#nav_menu .my_nav .nav-item .nav-link:hover, #nav_menu .my_nav .nav-item .nav-link:focus {
	color: orange;
	transition: 0.3s;
}
.dropdown{
	position: relative;
}
.dropdown-menu{
	width: 100%;
	padding: 0px;
	top: 130%;
	margin: 0px;
	display: block;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	position: absolute;
    left: 0;
    z-index: 1000;
    float: left;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover{
	background: gray;
	color: orange;
	transition: 0.3s;
	transition: background-color 0.3s ease;
}
.dropdown-menu.show, .dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-item{
    display: block;
}
.dropdown-menu.show, .dropdown:hover .dropdown-menu{
	top:96%;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
}
.dropdown-toggle::after{
	display: none;
}
.middle_area{
	display: flex;
}
.middle_left{
	width: 27%
}
.middle_right{
	width: 73%;
}
/* Sidebar */
aside {
    margin: 0;
    padding: 2em 0;
}
aside .side_menu { 
	list-style: none;
    margin: 0;
    padding: 0 12%;
}
.nav-item { 
	flex: 1;
}

aside .side_menu .side_link {
	display: block;
	font-weight: bold;
	text-decoration: none;
    text-align: left;
	background-color: #FFC53E;
	padding: .5em .7em;
	margin: 10px;
	color: black;
	border: 2px solid black;
	transition: 0.3s;
	margin-right: 28%;
}
aside .side_menu .side_link:hover{
	color: green;
	transition: 0.3s;
} 
/* Section */
.right_home {
    padding: 2em 4%;
}
.right_home h2 {
	font-size: 70px;
	font-weight: 700;
	line-height: 30px;
    margin-top: 20px;
}
.right_home h2 span{
	font-size: 30px;
}
.right_home p {
	margin-top: .7em;
	font-weight: 500;
}
.right_home a {
	font-weight: bold;
	color: orange;
    text-decoration: none;
}
.right_home h3{
	font-size: 24px;
	font-weight: 700;
	margin-top: 15px;
}
.right_home h3.small_text{
	font-size: 22px;
}
.right_home a{
	display: block;
	text-decoration: underline;
}
.right_home img{
	display: block;
	margin: 10px 0px;
}
.right_home a:link, main a:visited { 
    color: orange; 
}
.right_home a:hover, main a:focus { 
    color: green;
}
.right_home p .bold_p{
	font-size: 18px;
}

/* Footer */
footer { 
	border-top: 2px solid black;
	padding: .9375em 1.875% .9375em 1.875%;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}


#mobile_menu {
	display: none;
}



/****************************************************************************/
/**************************************End Home******************************/
/****************************************************************************/

.cat_middle_left{
	width: 25%
}
.cat_middle{
	width: 50%;
}
.cat_middle h3{
	font-size: 25px;
}
.cat_flex{
	display: flex;
}
.cat_content{
	margin-left: 15px;
	flex: 1;
}
.cat_flex img{
	padding-right: 10px;
    width: 40%;
}
.cat_middle_right{
	width: 25%;
	background: #FCD7AA;
	display: block;
	height: auto;
}
.cat_middle_right p{
	margin-top: .7em;
    font-weight: 600;
    padding: 2em 10px;
}
.cat_middle_right ul{
	list-style: none;
	padding-bottom: 20px;
}
.cat_middle_right ul li img {
    width: 30%;
    display: block;
}
.cat_middle_right ul li a{
	color: black;
	padding: 10px 0px;
	display: block;
}

/****************************************************************************/
/**************************************End cat page******************************/
/****************************************************************************/

.pr_list{
	width: 60%;
}
.pr_list h3{
	font-size: 25px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
.text-right{
	text-align: right;
}
.head_t{
	color: rgba(0,0,0,0.6);
	padding-bottom: 20px;
}
table td{
	font-weight: 600;
	text-transform: capitalize;
	padding: 3px 0px;
	flex: 3;
}
.right_home a:link,
.right_home table td a{
	color: black;
	font-weight: 500;
}
.right_home table td a:hover{
	color: green;
	transition: 0.3s;
}
.right_home table tr{
	display: flex;
}
.right_home table tr .bold{
	flex: 2;
}
.bg_td{
	background: #FCD7AA;
	flex: 1;
	text-align: right;
    padding-right: 5px;
}


@media only screen and (max-width: 991px){
	.container{
		max-width: 100%;
	}
	.dropdown-menu{
		display: none;
	}
	aside .side_menu{
		padding: 0;
	}
}

@media only screen and (max-width: 800px) {
	html {
		background-image: none;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {

	#mobile_menu {
		display: block;
	}
	header h2 {
		font-size: 200%;
	}
	aside .side_menu .side_link{
		text-align: center;
	}
	.cat_middle_right ul li a {
	    color: black;
	    padding: 10px 0px;
	    display: block;
	    text-decoration: underline;
	    font-weight: 400;
	    font-size: 16px;
	}

}
@media only screen and (max-width: 576px){
	#nav_menu {
		display: none;
	}
	aside .side_menu .side_link{
		margin-right: 0%;
	}
	#mbl {
  /* 100% width will work for mobile menu, 300px for example */
	  width:100%; 
	  font-family: 'Montserrat', Helvetica;
	  font-size: 16px;
	  display: block
	}
  label {
    display: block;
    padding: 15px 20px;
    margin: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    background: $mc;
    font-size: 24px;
  }
  span.fa {
    color:black;
    float:right;
    
  }
  input {
    display: none;
    
  }
  input:checked ~ article {
      transition: height 0.5s ease-in-out;
      height: 230px;
      overflow: unset;
    }
  article {
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index:0;
    transition: height 0.3s ease-in-out;
	}
    ul {
	      height: 100%;
	      margin: 0;
	      list-style: none;
	  }
      li {
        padding: 14px;
       }
       li:first-child {
          padding-top:16px;
          border-top: 0;
        }
        a {
          color: black;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
        }
    .middle_area {
	    display: block;
	}
	.middle_left, .middle_right, .cat_middle_right, .cat_middle_left, .cat_middle, .pr_list {
	    width: 100%;
	}
	aside {
	    margin: 0;
	    padding: 0;
	}
      
}

	



@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
	section h1 {
		font-size: 130%;
	}
	header img {
	    float: unset;
	    width: 20%;
	}
	
}
@media only screen and (max-width: 360px){

}
